<div class="card" style="width:400px; height:auto">
    <img  class ="card-img" src="~/songoku.jpg" asp-append-version="true">
    <h2 class="pt-2">About Me</h2>
    <span>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and a interest</span>
</div>


