@model IEnumerable<Posts>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .line-break {
        white-space: pre-line;
    }
</style>


<h1>LIST POST</h1>
<div class="container">
    @foreach (var obj in Model)
    {
        <div class="accordion-item flex-column">

            <a asp-controller="Posts" asp-action=""><h2>@obj.Title</h2></a>
            <span>Posted @obj.CreatedDate.ToString("MM/dd/yyyy h:mm:ss")</span>
            <p class="line-break">@obj.Description</p>
        </div>
    }
    
</div>
